body{
    background-color:grey;
    margin:0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}



h1{
    display:flex;
    justify-content: center;
}

.buttons{
    align-self: center;
    padding:10px;
    
}

.btn-change,.btn-reset,.btn-colorm,.btn-random{
    border:3px solid black;
    border-radius: 5px;
    background-color: chartreuse;
    padding:5px;
}

.btn-color{
    border-radius: 150px;
}

.main-container{
 
    height:75vw;
    
    display:flex;
    flex-direction: column;
    flex-grow: 0;
    
 
}

.container{
    display:flex;
    justify-content: center;
    flex-grow:0;

}

.grids{
    display: inline-block;
    background-color: #fff;
    height:20px;
    width:20px;
    margin: -1.5px -1.5px;
    border:2px solid black;
    border-radius: 5px;
    flex-grow: 0;
    flex-shrink: 2;
}

.grids.colored{
    background-color: black;
}